{% extends "index.html" %}
{% load static %} 
{% block title %}index.html{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<h1>Admin Panel</h1>
{% if err_msg %}
    <div class="alert alert-danger">{{ err_msg }}</div>
{% endif %}

    <form method="post" action="">
        {% csrf_token %}
        <label for="email">Email:</label>
        <input type="text"  name="email"  > <br>

        <label for="email">Password:</label>
        <input type="password"  name="password"  > <br>

        <input type="submit" value="login">
    </form>
{% endblock %}

